<%= form_for(line) do |f| %>
  <% if line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(line.errors.count, "error") %> prohibited this line from being saved:</h2>

      <ul>
      <% line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :station_ids %>
    <%= f.collection_select :station_ids, @stations, :id, :name, {}, { class: "form-control select2", multiple: true } %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
<br>
<%= link_to 'Destroy', line, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>