<h2>Your conversation with <%= @conversation.receiver.first_name %></h2>
<div class="row">
  <div class="media col-md-6 col-md-offset-3">
    <div class="panel panel-default viewMessages"> 
      <div class="panel-body"> 


        <% @messages.each do |message| %>
        
          <% if message.body %>
            <div class="message">
                <%= render "partials/message", message: message, current_user: current_user %>
            </div>
          <% end %>
        <% end %>


      </div>
    </div>
  </div>
</div>

<div class="row">
  <%= form_for [@conversation, @message] do |f| %>
    <div class="form-group col-md-6 col-md-offset-3">
      <%= f.text_area :body, placeholder: "Your message", class: "form-control" %>
    </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= f.submit "Send", class: "btn btn-primary send" %>
  </div>
</div>
  <% end %>


