<h2>Messages</h2>

  <% @messages.each do |message| %>
  
    <% if message.body %>

      <% if current_user == message.user %>

        <div class="media">
          <div class="media-left">  
            <% if message.user.profile_picture.thumb.url %>
              <%= link_to (image_tag message.user.profile_picture.thumb.url), "/users/#{message.user_id}" %>
            <% else %>
              <%= link_to (image_tag "http://www.fillmurray.com/50/50"), "/users/#{message.user_id}" %>
            <% end %>             
          </div>

            <div class="media-body">
              <h4 class="media-heading"><%= message.body %></h4>
              <p><%= message.time %></p>
            </div>  

        </div>
        
      <% else %> 

        <div class="media">

          <div class="media-body" style="text-align:right;">
            <h4 class="media-heading"><%= message.body %></h4>
            <p><%= message.time %></p>
          </div> 
        
          <div class="media-right">            
            <% if message.user.profile_picture.thumb.url %>
              <%= link_to (image_tag message.user.profile_picture.thumb.url), "/users/#{message.user_id}" %>
            <% else %>
              <%= link_to (image_tag "http://www.fillmurray.com/50/50"), "/users/#{message.user_id}" %>
            <% end %>   
          </div>

        </div>

      <% end %>      
    <% end %>
  <% end %>
 

<%= form_for [@conversation, @message] do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: "Your message"%>
  </div>
<%= f.submit "Send" %>

<% end %>

