<div class="preNav">
  <div class="roundel">
    <img src="/roundel.png" alt="roundel">
  </div>
  <a href="/posts"><span class="brand1">LOVE</span><span class="brand2">UNDERGROUND</span></a>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Posts", posts_path %></li>
        <li><%= link_to "Stations", stations_path %></li>
        <li><%= link_to "Lines", lines_path %></li>
        <% if current_user %>

          <li><%= link_to 'New Post', new_post_path %></li>
          <li><a href="/conversations">Inbox<% if unread_messages >= 1 %>&nbsp;<span class="badge"><%= unread_messages %></span><% end %></a></li>
          <li><%= link_to "Profile", edit_user_registration_path %></li> 
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %> 
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Register", new_user_registration_path %></li>

        <% end %> 
        <% if current_user && current_user.admin? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'New Station', new_station_path %></a></li>
              <li><%= link_to 'Stations', stations_path %></a></li>
              <li><%= link_to 'New Line', new_line_path %></li>
              <li><%= link_to 'Lines', lines_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>