<% profile_pic_url = message.user.profile_picture.thumb.url.present? ? message.user.profile_picture.thumb.url : "http://www.fillmurray.com/50/50" %>

<% if current_user == message.user %>
  <div class="media">

    <div class="media-body" style="text-align:right;">
      <p class="media-heading"><%= message.body %></p>
      <small><%= distance_of_time_in_words(Time.now, message.created_at) %> ago</small>
    </div> 

    <div class="media-right">
      
          <%= link_to (image_tag profile_pic_url), "/users/#{message.user_id}" %> 
    
    </div>

  </div>

<% else %>

  <div class="media">
    <div class="media-left">

      <%= link_to (image_tag profile_pic_url), "/users/#{message.user_id}" %>   
    
    </div>

      <div class="media-body">
        <p class="media-heading"><%= message.body %></p>
        <small><%= distance_of_time_in_words(Time.now, message.created_at) %> ago</small>
      </div>  

  </div>

<% end %>