<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Description %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :date_time %>
    <%= f.datetime_select :date_time, class: "form-control" %>
  </div>

  <p>Select the station(s) where you connected:</p>

  <div class="form-group">
    <%= f.label :station_ids %>
    <%= f.grouped_collection_select :station_ids, @lines, :stations, :name, :id, :name, {}, { class: "form-control select2", multiple: true } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
