<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Description %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :date_time %>
    <%= f.datetime_select :date_time, class: "form-control" %>
  </div>

  <p>Select the station(s) where you connected:</p>

  <% @lines.each do |line| %>
    <div class="col-md-6">
    <h4><%= line.name %></h4>
      <% line.stations.each do |s| %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="post[station_ids][]" value="<%= s.id %>">
            <%= s.name %> 
          </label>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
