  <div class="media col-sm-6 col-md-4 searchArea" data-searchstring="<%= post.title %> <%= post.body %>">
    <div class="panel panel-default post">
      <div class= "panel-body">
        <div class="media-left">

          <% profile_pic_url = post.user.profile_picture.thumb.url.present? ? post.user.profile_picture.thumb.url : "http://www.fillmurray.com/50/50" %>

          <%= link_to (image_tag profile_pic_url), "/users/#{post.user_id}" %>

        </div>
        
        <div class="media-body">
          <h4 class="media-heading"><%= link_to post.title, "/posts/#{post.id}"%></h4>
          <p><%= post.user.first_name%> <%= post.user.last_name%> @<%= post.user.username%></p>
          <p><%= post.formatted_date %></p>
          <p><%= post.body%></p>

        </div>
      </div>
    </div>    
  </div>