<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @post.date_time %>
</p>

<p>
  <strong>User:</strong>
<% if @post.user.profile_picture.thumb.url %>
  <%= link_to (image_tag @post.user.profile_picture.thumb.url), "/users/#{@post.user_id}" %>
<% else %>
  <%= link_to (image_tag "http://www.fillmurray.com/50/50"), "/users/#{@post.user_id}" %>
<% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
