<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Love Underground</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>

  <body>
    <header>
      <%= render "partials/header" %>
    </header>


    <main class="container">
      <% flash.each do |name, message| %>
        <% name = 'success' if name == 'notice' %>
        <% name = 'danger' if name == 'alert' %>
        <div class="alert alert-<%= name %>" role="alert">
        <a href="#" data-dismiss="alert" class="close">×</a>
          <%= message %>
        </div>
      <% end %>

      <%= yield %>

    </main>
  </body>
</html>
